<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="quizService" class="com.example.demo.service.impl.QuizImpl"/>

    <bean id="applicant" class="com.example.demo.entity.Applicant"/>

    <bean id="quizResults" class="com.example.demo.service.impl.QuizResultsImpl">
        <constructor-arg name="applicant" ref="applicant"/>
        <constructor-arg name="quiz" ref="quizService"/>
    </bean>
</beans>